<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.oasis.mapper.home.HomeMapper">

    <select id="getBookSuggestion" resultType="com.flab.oasis.model.home.BookSuggestion">
        SELECT UCASE(A.SUGGESTION_TYPE) AS suggestionType, B.BOOK_ID AS bookId,
               B.TITLE, B.AUTHOR, B.TRANSLATOR, B.PUBLISHER, B.PUBLISH_DATE AS publishDate,
               B.IMAGE_URL AS imageUrl, B.DESCRIPTION, B.CATEGORY_ID AS categoryId, B.categoryName
        FROM BOOK_SUGGESTION A, (
            SELECT X.*, Y.CATEGORY_NAME AS categoryName
            FROM BOOK_LIST X, BOOK_CATEGORY Y
            WHERE X.CATEGORY_ID = Y.CATEGORY_ID
        ) B
        WHERE A.BOOK_ID = B.BOOK_ID
    </select>
    
    <select id="findUserCategoryByUid" parameterType="java.lang.String" resultType="com.flab.oasis.model.home.UserCategory">
        SELECT UID, CATEGORY_ID AS categoryId
        FROM USER_CATEGORY
        WHERE UID=#{uid}
    </select>

</mapper>