<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.oasis.mapper.user.FeedMapper">

    <insert id="writeFeed" parameterType="com.flab.oasis.model.FeedWriteRequest">
        INSERT INTO FEED (UID, FEED_ID, WRITE_DATE, BOOK_ID, REPORT, FEED_LIKE, CREATE_DATETIME, MODIFY_DATETIME)
        SELECT #{uid}, IFNULL(MAX(FEED_ID) + 1, 0), NOW(), #{bookId}, #{report}, 0, NOW(), NOW()
        FROM FEED
        WHERE UID = #{uid}
    </insert>

    <update id="updateFeed" parameterType="com.flab.oasis.model.FeedUpdateRequest">
        UPDATE FEED
        SET REPORT = #{report}
        WHERE UID = #{uid} AND FEED_ID = #{feedId}
    </update>

    <delete id="deleteFeed" parameterType="com.flab.oasis.model.FeedDeleteRequest">
        DELETE FROM FEED
        WHERE UID = #{uid} AND FEED_ID = #{feedId}
    </delete>

</mapper>