<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.oasis.mapper.user.UserInfoMapper">

    <select id="isExistsNickname" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT NICKNAME
            FROM USER_INFO
            WHERE NICKNAME = #{nickname}
        )
    </select>

    <insert id="createUserInfo" parameterType="com.flab.oasis.model.UserInfo">
        INSERT INTO USER_INFO (UID, NICKNAME, INTRODUCE, CREATE_DATETIME, MODIFY_DATETIME)
        VALUES (#{uid}, #{nickname}, #{introduce}, NOW(), NOW())
    </insert>

    <select id="getUserInfoByUid" parameterType="java.lang.String" resultType="com.flab.oasis.model.UserInfo">
        SELECT UID, NICKNAME, INTRODUCE
        FROM USER_INFO
        WHERE UID = #{uid}
    </select>

    <select id="getDefaultRecommendUserList" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT A.UID
        FROM USER_INFO A
        WHERE A.UID != #{uid} AND
            A.CREATE_DATETIME BETWEEN DATE_SUB(NOW(), INTERVAL 6 MONTH) AND NOW()
        ORDER BY (
            SELECT COUNT(B.UID) FROM FEED B WHERE A.UID = B.UID
        )
        LIMIT 30
    </select>

</mapper>