<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.oasis.mapper.book.TestMapper">

    <select id="dbConnectionTest" resultType="com.flab.oasis.model.TestModel">
        SELECT 10 DATA
        FROM DUAL;
    </select>

    <select id="cacheTest" resultType="com.flab.oasis.model.Book">
        SELECT
            BOOK_ID AS bookId, TITLE, AUTHOR, TRANSLATOR, PUBLISHER, PUBLISH_DATE AS publishDate,
            IMAGE_URL AS imageUrl, DESCRIPTION, CATEGORY_ID AS categoryId
        FROM BOOK_LIST
        LIMIT 1;
    </select>

</mapper>