<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.oasis.mapper.UserAuthMapper">

    <select id="getUserAuthByUid" parameterType="java.lang.String" resultType="com.flab.oasis.model.dao.UserAuth">
        SELECT UID,
            PASSWORD,
            SALT,
            SOCIAL_YN AS socialYN,
            REFRESH_TOKEN AS refreshToken
        FROM USER_AUTH
        WHERE UID = #{uid}
    </select>

    <select id="updateRefreshToken" parameterType="com.flab.oasis.model.UserSession">
        UPDATE USER_AUTH SET REFRESH_TOKEN = #{refreshToken}
        WHERE UID = #{uid}
    </select>

</mapper>